html, body {
    background: url(../img/wood-background.jpg) center center no-repeat fixed;
    background-size: cover;
    font-family: 'Questrial', sans-serif;
    height: 100%;
}

/* link colors */
a { color: #f06060; }
a:hover, a:active { color: #333; }

/* content wrap */
#wrapper {
    margin: auto;
    max-width: 1000px;
}

/* Logo */
#logo {
    background: url(../img/cannery-row-logo.png) 0 0 no-repeat;
    height: 37px;
    margin: 20px 30px 17px;
    width: 175px;
}

/* Navigation Style */
#nav {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
}
#nav .nav { margin: 0; }
#nav .active a,
#nav .active a:hover,
#nav .active a:focus {
    background-color: #f06060;
    color: #fff;
}

/* Carosel */
#myCarousel {
    clear: both;
    margin-bottom: 0;
}
#myCarousel h1 {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
#myCarousel img {
    width: 100%;
}
#myCarousel .carousel-caption {
    background: #f06060;
    left: auto;
    opacity: .8;
    text-transform: uppercase;
    width: 33%;
}

/* content layout */
.content {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    padding: 25px;
    text-align: center;
}
.content h2 { margin-top: 0; text-transform: uppercase;}
.content li { list-style-position: inside; }
@media (min-width: 768px) {
    .content { text-align: left; margin-top: 15px;}
    .content .col1 { width: 48.9%; float: left; clear: left; }
    .content .col2 { width: 48.9%; float: right; clear: right; }
    .content .contact { text-align: left; }
    .content .contact img { float: left; margin-right: 1.5em; }
}
@media (max-width: 960px) {
    .cta .btn { float: none; width: 90%; }
}

.content h1 {
    margin-top: 0;
    text-transform: uppercase;
}

#notice {
    background-color: #f06060;
    color: #fff;
    font-size: 21px;
    margin: 15px 0 0;
    text-align: center;
}
#notice a {
    color: #fff;
    text-decoration: underline;
}

/* Button style */
.cta .btn,
.social .btn {
    background: #f06060;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 15px;
    min-width: 180px;
    outline: none;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    -moz-transition: background 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}
.cta .btn:hover,
.cta .btn:active {
    color: #f06060;
}

/* Social Buttons */
.btn.twi,
.btn.fb,
.btn.flk {
    margin: 0;
    min-height: 32px;
    min-width: 32px;
    padding: 0;
}
.btn.twi {
    background: #5eaee1;
}
.btn.twi:hover,
.btn.twi:active {
    background: #e6e6e6;
    color: #5eaee1;
}
.btn.fb {
    background: #42559d;
}
.btn.fb:hover,
.btn.fb:active {
    background: #e6e6e6;
    color: #42559d;
}
.btn.flk {
    background: #f50099;
}
.btn.flk:hover,
.btn.flk:active {
    background: #e6e6e6;
    color: #f50099;
}
