/* General Demo Style */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { 
	font-size: 100%; 
	padding: 0; 
	margin: 0; 
	height: 100%;
	font-family: 'Questrial', sans-serif; 
	background: url(../img/wood-background.jpg) center center no-repeat;
    background-size: cover;
	}

a {
	color: #f06060;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

#wrapper {
	max-width: 90%;
	margin: auto;
}

/* Navigation Style */
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
color: #ffffff;
background-color: #f06060;
}

.nav {
	background-color: white;
	margin: 10px;
	padding: 10px;
}

/* Carosel */
#myCarousel {
	clear: both;
}

#myCarousel h1 {
	color: #FFF;
	font-size: 24px;
	text-align: center;
}

.carousel img {
	width: 100%;
}

.carousel-caption {
	width: 33%;
	background: #f06060;
	opacity: .8;
	left: auto;

}

/* Home */

#welcome {
	background: url(../img/bgr.png);
	background-repeat: repeat;
	padding: 25px;

}

#welcome h1 {
	opacity: 1;
	margin-top: 0;
}

#cta {
	background-color: #f06060;
	color: white;
	margin-top: 0;
}
#cta h2{
	font-size: 21px;
	text-align: center;
	margin: 0;
}
#cta a{
	color: white;
	text-decoration: underline;
}

/* Button style */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #FFF;
	background: #f06060;
	cursor: pointer;
	padding: 15px 40px;
	display: inline-block;
	margin: 5px 30px;
	min-width: 260px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
		width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.btn:hover,
.btn:active {
	color: #f06060;
}

.btn:hover:after,
.btn:active:after {
	width: 100%;
}

.btn.twi {
	background: #5EAEE1;
	margin: 0;
	padding: 0;
	min-width: 32px;
	min-height: 32px;
}

.btn.twi:hover,
.btn.twi:active {
	color: #5EAEE1;
	background: #e6e6e6;
}

.btn.fb {
	background: #42559D;
	margin: 0;
	padding: 0;
	min-width: 32px;
	min-height: 32px;
}

.btn.fb:hover,
.btn.fb:active {
	color: #42559D;
	background: #e6e6e6;
}

.btn.flk {
	background: #F50099;
	margin: 0;
	padding: 0;
	min-width: 32px;
	min-height: 32px;
}

.btn.flk:hover,
.btn.flk:active {
	color: #F50099;
	background: #e6e6e6;
}
