html, body {
    background-color: #faf0e6;
    font-family: 'museo', sans-serif;
    height: 100%;
    color: #345E6F;
}

/* link colors */
a { color: #345E6F; }
a:hover, a:active { color: #333; }

/* content wrap */
#wrapper {
    margin: auto;
    padding: 0 15px;
    position: relative;
}

/* Navigation Style */
#nav {
    margin: 10px;
    padding: 5px;
    background: white;
}
#nav .nav { margin: 0; text-transform: uppercase;}
#nav .btn { margin: 0; padding: 0; }
#nav li { white-space: nowrap; }
#nav .active a,
#nav .active a:hover,
#nav .active a:focus {
    background-color: transparent;
    color: #84B39B;
}
#nav a:hover {
    background-color: #84B39B;
    color: #FFF;
    opacity: .5;
}

/* Carosel */
#myCarousel {
    clear: both;
    margin-bottom: 0;
}
#myCarousel h1 {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
#myCarousel img {
    width: 100%;
}
#myCarousel .carousel-caption {
    background: #84B39B;
    color: #fff;
    text-align: center;
    left: auto;
    opacity: .8;
    text-transform: uppercase;
    width: 33%;
    padding: 5px 10px;
}

#notice {
    background-color: #84B39B;
    color: #fff;
    font-size: 21px;
    margin: 16px 0 0;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
}
#notice a {
    color: #fff;
    text-decoration: underline;
}

/* footer */
#footer {
    margin-top: 1em;
    text-align: center;
}
#footer #mgmt{
    font-size: 12px;
}
#contact-sm {
    font-size: 15px;
}

/* Button style */
.btn {
    background: #FF7F3F;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 15px;
    min-width: 180px;
    outline: none;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    -moz-transition: background 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
    text-shadow: none;
}
.btn:hover,
.btn:active {
    color: #FF7F3F;
}
.btn.grn {
    background: #84B39B;
    color: #FFF;
}
.btn.grn:hover {
    background: #efefef;
    color: #84B39B;
}

/* Social Buttons */
.btn.twi,
.btn.fb,
.btn.ins {
    margin: 0;
    min-height: 32px;
    min-width: 32px;
    padding: 0;
}
.btn.twi {
    background: #5eaee1;
}
.btn.twi:hover,
.btn.twi:active {
    background: #e6e6e6;
    color: #5eaee1;
}
.btn.fb {
    background: #42559d;
}
.btn.fb:hover,
.btn.fb:active {
    background: #e6e6e6;
    color: #42559d;
}
.btn.ins {
    background: #427097;
}
.btn.ins:hover,
.btn.ins:active {
    background: #e6e6e6;
    color: #427097;
}
.btn.twi.sm,
.btn.fb.sm,
.btn.ins.sm {
    margin: 0;
    min-height: 25px;
    min-width: 25px;
    padding: 0 5px;
}

/* floorplans modal */
#floorplans-modal .modal-body {
    max-height: none;
}
#floorplans-modal .item {
    min-height: 600px; /* should match height of tallest floorplan image */
    text-align: center;
}
#floorplans-modal .item img {
    display: inline;
}

/* embedded instagram */
#instagram iframe {
    background-color: #EEEEE7;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

/* floorplans thumbs */
#thumbs {
    background-color: #eeeee7;
    overflow: hidden;
    text-align: center;
}
#floorplan-links li {
    display: inline-block;
    _display: inline;
    margin: 1em;
    min-height: 150px;
    _height: 150px;
}

/* content layout */
.content {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    padding: 25px 25px 10px 25px;
    text-align: center;
}
.content h1 {
    margin-top: 0;
    text-transform: uppercase;
}
.content h2 { margin-top: 0; text-transform: uppercase;}
.content li { list-style-position: inside; }

#neighborhood .links {
    clear: both;
    padding: 1em 0;
    text-align: left;
}
#neighborhood .links li {
    clear: both;
    margin: 0.5em 2% 0.5em 0;
    overflow: hidden;
}
#neighborhood .links li>a {
    float: left;
}
#neighborhood .links li>p {
    margin-left: 85px;
}

/* overrides for smartphones */
@media (max-width: 767px) {
    body { padding-left: 0; padding-right: 0; }
    #logo { text-align: center; text-shadow: 3px 3px 3px #FFF;}
    #notice { font-size: 15px; }
    .content h2 { font-size: 28px; }
    #instagram iframe { max-width: 205px; }
}

/* overrides for tablet size and up */
@media (min-width: 768px) {
    #logo { float: left; margin: 0.5em auto; text-align: left; }
    #logo h1 {font-size: 29.5px;}
    #nav { float: right; }
    .content { text-align: left; margin-top: 15px;}
    .content .col1 { width: 48.9%; float: left; clear: left; }
    .content .col2 { width: 48.9%; float: right; clear: right; }
    .content .contact { margin-top: 20px; text-align: left; }
    .content li { list-style-position: outside; }

    #neighborhood .links li {
        clear: none;
        float: left;
        width: 48%;
    }
}

/* overrides for small desktop and below */
@media (max-width: 979px) {
    .cta .btn { width: 90%; }
}

/* overrides for larger screens */
@media (min-width: 980px) {
    #wrapper { padding: 0 15px 0 86px; max-width: 1000px; }
    #logo {
        height: 356px;
        left: 15px;
        position: absolute;
        top: 30px;
        width: 71px;
    }
    #logo a {
        background: url(../img/cannery-row-apartments-sign-sm.png) 0 0 no-repeat;
        display: block;
        height: 100%;
        overflow: hidden;
        text-indent: -999em;
        width: 100%;
    }
    #nav { float: none; }
    #nav .appt { float: right; }
    #nav .appt a,
    #nav .appt a:hover,
    #nav .appt a:focus {
        background-color: #FF7F3F;
        opacity: .8;
        padding: 50px 25px 20px;
        color: #fff;
        margin: -40px 0;
    }

    .content .contact .map { float: left; margin-right: 1.5em; }
}

@media
only screen and (min-width: 980px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 980px) and (   min--moz-device-pixel-ratio: 2),
only screen and (min-width: 980px) and (     -o-min-device-pixel-ratio: 2/1),
only screen and (min-width: 980px) and (        min-device-pixel-ratio: 2),
only screen and (min-width: 980px) and (                min-resolution: 192dpi),
only screen and (min-width: 980px) and (                min-resolution: 2dppx) {
    #logo a {
        background-image: url(../img/cannery-row-apartments-sign.png);
        background-size: 356px 71px;
    }
}
