html, body {
    background: url(../img/wood-background.jpg) center center no-repeat fixed;
    background-size: cover;
    font-family: 'Questrial', sans-serif;
    height: 100%;
    color: #345E6F;
}

/* link colors */
a { color: #345E6F; }
a:hover, a:active { color: #333; }

/* content wrap */
#wrapper {
    margin: auto;
    max-width: 1000px;
}

/* Logo */
#logo {
    background: url(../img/cannery-row-apartments-logo.png) 0 0 no-repeat;
    height: 37px;
    margin: 20px 30px 17px;
    width: 175px;
}

/* Navigation Style */
#nav {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
}
#nav .nav { margin: 0; text-transform: uppercase;}
#nav .btn { margin: 0; padding: 0; }
#nav .active a,
#nav .active a:hover,
#nav .active a:focus {
    background-color: mintcream;
    color: #462C21;
}

#nav a:hover {
background-color: #84B39B;
color: #FFF;
opacity: .5;
}

#nav .appt a,
#nav .appt a:hover,
#nav .appt a:focus {
    background-color: #FF7F3F;
    opacity: .8;
    padding: 50px 25px 20px;
    color: #fff;
    margin: -40px 0;
}

/* Carosel */
#myCarousel {
    clear: both;
    margin-bottom: 0;
}
#myCarousel h1 {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
#myCarousel img {
    width: 100%;
}
#myCarousel .carousel-caption {
    background: #84B39B;
    color: #fff;
    left: auto;
    opacity: .8;
    text-transform: uppercase;
    width: 33%;
}

#notice {
    background-color: #FF7F3F;
    color: #fff;
    font-size: 21px;
    margin: 16px 0 0;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
}
#notice a {
    color: #fff;
    text-decoration: underline;
}

/* footer */
#footer {
    margin-top: 1em;
    text-align: center;
}
#contact-sm {
    font-size: 18px;
    color: white;
}
#contact-sm a{
    color: white;
}

/* Button style */
.btn {
    background: #FF7F3F;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 15px;
    min-width: 180px;
    outline: none;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    -moz-transition: background 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
    text-shadow: none;
}
.btn:hover,
.btn:active {
    color: #FF7F3F;
}
.btn.grn {
    background: #84B39B;
    color: #FFF;
}
.btn.grn:hover {
    background: #efefef;
    color: #84B39B;
}

/* Social Buttons */
.btn.twi,
.btn.fb,
.btn.flk {
    margin: 0;
    min-height: 32px;
    min-width: 32px;
    padding: 0;
}
.btn.twi {
    background: #5eaee1;
}
.btn.twi:hover,
.btn.twi:active {
    background: #e6e6e6;
    color: #5eaee1;
}
.btn.fb {
    background: #42559d;
}
.btn.fb:hover,
.btn.fb:active {
    background: #e6e6e6;
    color: #42559d;
}
.btn.flk {
    background: #f50099;
}
.btn.flk:hover,
.btn.flk:active {
    background: #e6e6e6;
    color: #f50099;
}
.btn.twi.sm,
.btn.fb.sm,
.btn.flk.sm {
    margin: 0;
    min-height: 25px;
    min-width: 25px;
    padding: 0 5px;
}

/* floorplans modal */
#floorplans-modal .modal-body {
    max-height: none;
}
#floorplans-modal .item {
    min-height: 530px;
    text-align: center;
}
#floorplans-modal .item img {
    display: inline;
}

/* embedded instagram */
#instagram iframe {
    background-color: #EEEEE7;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

/* content layout */
.content {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    padding: 25px;
    text-align: center;
}
.content h1 {
    margin-top: 0;
    text-transform: uppercase;
}
.content h2 { margin-top: 0; text-transform: uppercase; color: #FF7F3F;}
.content li { list-style-position: inside; }

#neighborhood .links {
    clear: both;
    padding: 1em 0;
    text-align: left;
}
#neighborhood .links li {
    clear: both;
    margin: 0.5em 2% 0.5em 0;
    overflow: hidden;
}
#neighborhood .links li>a {
    float: left;
}
#neighborhood .links li>p {
    margin-left: 85px;
}

/* overrides for tablet size and up */
@media (min-width: 768px) {
    .content { text-align: left; margin-top: 15px;}
    .content .col1 { width: 48.9%; float: left; clear: left; }
    .content .col2 { width: 48.9%; float: right; clear: right; }
    .content .contact { text-align: left; }
    .content .contact .map { float: left; margin-right: 1.5em; }
    .content li { list-style-position: outside; }

    #neighborhood .links li {
        clear: none;
        float: left;
        width: 48%;
    }
}

/* overrides for larger screens */
@media (max-width: 960px) {
    .cta .btn { float: none; width: 90%; }
}
